<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        var apiServerIP = <%- JSON.stringify(apiServerIP) %>;
        var namespace = <%- JSON.stringify(namespace) %>;
    </script>

</head>
<body>
<div id="nav-bar">
    <img id="cocktail-logo" src="img/cocktail-full-logo-white.svg" height="30" alt="">
    <img id="namu-logo" src="img/namu-logo-white.svg" height="30" alt="">
</div>
<div id="app" class="container-fluid">
    <div class="row">
        <div class="node-wrapper col" v-for="node in nodeList">
            <div class="node">
                <div class="node-name">
                    {{ node }}
                </div>
                <div class="pod" v-for="(pod, index) in podList"
                     v-if="node == pod.nodename"
                     v-bind:style="{borderColor: pod.color}">
                    <div class="hostname" ref="{{ pod.hostname }}">{{ pod.hostname }}</div>
                    <div class="slide-frame" v-on:mouseenter="setIndex(index)" v-on:mouseleave="reSetIndex">
                        <div class="slide-box" v-bind:class="{moveLeft: podIndex == index}">
                            <div class="slide-left" v-bind:class="{terminating: pod.status == 'Terminating'}">{{ pod.status }}</div>
                            <div class="slide-right" v-on:click="deletePod">Delete</div>
                        </div>
                    </div>
                    <div class="resource">CPU: <span v-if="pod.cpu">{{ pod.cpu }}</span><span v-else="pod.cpu">N/A</span>
                        | Mem: <span v-if="pod.memory">{{ pod.memory }}</span><span v-else="pod.memory">N/A</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/custom.js"></script>
</body>
</html>